{% extends 'base.html' %}
    
{% block content %}    

<div class="col-sm-12" style='text-align: center'>
    <!--<h1> About Us </h1>-->
    <div style='text-align: left'>
        <h2><a id="Lab Members"><b>Principal Investigator</b></a></h2>
        
            <!--<div class="table table-bordered">-->
                <table class="table"> 
               
           
                  <tbody>
                     <tr>
                        <td>
                            <div class="row text-center">
                                <img src="../../media/hao_new.bmp" class="img-square" height="200px" width="200px">
                            </div>
                        </td>
        
                        <td>
                            <div class="row text-left">
                                <div class="col-sm-12">
                                    <br>
                                    <p><strong>Hao Huang, Ph.D.</strong></p>
                                    <p><b><i>Associate Professor</i></b></p>
                                    <p><b><i>Address:</i></b>&nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp 34th street and Civic Center Blvd, Philadelphia, PA 19104</p>
                                    <p><b><i>Telephone:</i></b>&nbsp &nbsp &nbsp &nbsp XXX-XXX-XXXX</p>
                                    <p><b><i>Fax:</i></b>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbspXXX-XXX-XXXX</p>
                                    <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<a href="mailto:huangh6@email.chop.edu"><b><i><strong style="color: rgb(224, 74, 34);">Send me an email</strong></i></b></a></p>
                                </div>
                            </div>
                        </td>
                
                     </tr>
        
                </tbody>
                </table>
            <!--</div> -->
        
        <hr>
        <h2><a id="Current Lab Members"><b>Current Lab Members</b></a></h2>
        <div class="col-sm-4 text-center">
          <h4>Tina Jeon</h2>
          <div class="row text-center">
                    <img src="../../media/TinaJeon.jpg" class="img-square" height="200" width="200">
                        <div class="caption">
                            <div class="row text-center">
                                <p> Ph.D. Candidate <br> <a href="mailto:tina.jeon@utsouthwestern.edu"><b><i><strong style="color: rgb(0,0,0);">Send me an email</strong></i></b></a></p>
                            </div>
                        </div>
            </div>
          
        </div>
        
        <div class="col-sm-4 text-center">
          <h4>Minhui Ouyang</h2>
          <div class="row text-center">
                    <img src="../../media/minhui_edited_1_for_utsw_webpage.jpg" class="img-square" height="200" width="200">
                        <div class="caption">
                            <div class="row text-center">
                                <p> Ph.D. Student <br> <a href="mailto:minhui.ouyang@utsouthwestern.edu"><b><i><strong style="color: rgb(0,0,0);">Send me an email</strong></i></b></a></p>
                            </div>
                        </div>
            </div>
          
        </div>
        
        <div class="col-sm-4 text-center">
          <h4>Hang Li</h2>
          <div class="row text-center">
                    <img src="../../media/hang_photo_edited_1_112314.jpg" class="img-square" height="200" width="200">
                        <div class="caption">
                            <div class="row text-center">
                                <p> Visiting Scholar <br> <a href="mailto:gala.lh@gmail.com"><b><i><strong style="color: rgb(0,0,0);">Send me an email</strong></i></b></a></p>
                            </div>
                        </div>
            </div>
          
        </div>
        
        <hr>
        <h3><a id="Alumni"><b>Alumni</b></a></h3>
        <div class="col-sm-4 text-center">
          <h4>Xin Fan, Ph.D.</h2>
          <div class="row text-center">
                    <img src="../../media/Xin.jpg" class="img-square" height="200" width="200">
                        <div class="caption">
                            <div class="row text-center">
                                <p> Associate Professor <br> <a href="mailto:zhuxin.fan@gmail.com"><b><i><strong style="color: rgb(0,0,0);">Send me an email</strong></i></b></a></p>
                            </div>
                        </div>
            </div>
          
        </div>
        
        <div class="col-sm-4 text-center">
          <h4>Min Xu, M.D.</h2>
          <div class="row text-center">
                    <img src="../../media/min.bmp" class="img-square" height="200" width="200">
                        <div class="caption">
                            <div class="row text-center">
                                <p> Research Scientist <br> <a href="mailto:min.xu@utsouthwestern.edu"><b><i><strong style="color: rgb(0,0,0);">Send me an email</strong></i></b></a></p>
                            </div>
                        </div>
            </div>
          
        </div>
        
        <div class="col-sm-4 text-center">
          <h4>Tien Nguyen, M.S.</h2>
          <div class="row text-center">
                    <img src="../../media/tien_old.bmp" class="img-square" height="200" width="200">
                        <div class="caption">
                            <div class="row text-center">
                                <p> Research Engineer <br> <a href="mailto:tien.nguyen@utsouthwestern.edu"><b><i><strong style="color: rgb(0,0,0);">Send me an email</strong></i></b></a></p>
                            </div>
                        </div>
            </div>
          
        </div>
        
        <div class="col-sm-4 text-center">
          <h4>Augustus Perez, M.D.</h2>
          <div class="row text-center">
                    <img src="../../media/gus_old.bmp" class="img-square" height="200" width="200">
                        <div class="caption">
                            <div class="row text-center">
                                <p> Neurosurgeon Resident <br> <a href="mailto:gperez84@gmail.com"><b><i><strong style="color: rgb(0,0,0);">Send me an email</strong></i></b></a></p>
                            </div>
                        </div>
            </div>
          
        </div>
        
        <div class="col-sm-4 text-center">
          <h4>Jeffrey Chen, M.D. Student</h2>
          <div class="row text-center">
                    <img src="../../media/JeffinJapan_LabPic-1.jpg" class="img-square" height="200" width="200">
                        <div class="caption">
                            <div class="row text-center">
                                <p> Student <br> <a href="mailto: misterhanbao@gmail.com"><b><i><strong style="color: rgb(0,0,0);">Send me an email</strong></i></b></a></p>
                            </div>
                        </div>
            </div>
          
        </div>
        
        <div class="col-sm-4 text-center">
          <h4>Tejasvi Gundapuneedi, M.S.</h2>
          <div class="row text-center">
                    <img src="../../media/teja_old.bmp" class="img-square" height="200" width="200">
                        <div class="caption">
                            <div class="row text-center">
                                <p> Programmer <br> <a href="mailto:tejasvi.gundapuneedi@gmail.com"><b><i><strong style="color: rgb(0,0,0);">Send me an email</strong></i></b></a></p>
                            </div>
                        </div>
            </div>
          
        </div>
        
        <div class="col-sm-4 text-center">
          <h4>Qiaowen Yu, Ph.D.</h2>
          <div class="row text-center">
                    <img src="../../media/qaiowen_pic_091213.jpg" class="img-square" height="200" width="200">
                        <div class="caption">
                            <div class="row text-center">
                                <p> Radiologist <br> <a href="mailto:qiaowen.yu@utsouthwestern.edu"><b><i><strong style="color: rgb(0,0,0);">Send me an email</strong></i></b></a></p>
                            </div>
                        </div>
            </div>
          
        </div>
        
         <div class="col-sm-4 text-center">
          <h4>Austin Ouyang, M.S.</h2>
          <div class="row text-center">
                    <img src="../../media/austin_pic.jpg" class="img-square" height="200" width="200">
                        <div class="caption">
                            <div class="row text-center">
                                <p> Insight Data Fellow <br> <a href="mailto:austin.ouyang@utsouthwestern.edu"><b><i><strong style="color: rgb(0,0,0);">Send me an email</strong></i></b></a></p>
                            </div>
                        </div>
            </div>
          
        </div>
        <div class="col-sm-4 text-center">
          <h4>Virendra Mishra, Ph.D.</h2>
          <div class="row text-center">
                    <img src="../../media/virendra.bmp" class="img-square" height="200" width="200">
                        <div class="caption">
                            <div class="row text-center">
                                <p> Diffusion MRI Consultant <br> <a href="mailto:virendra.mishra@mavs.uta.edu"><b><i><strong style="color: rgb(0,0,0);">Send me an email</strong></i></b></a></p>
                            </div>
                        </div>
            </div>
          
        </div>
        
        
        
    </div>
</div>
{% endblock %}             
        