{% extends 'base.html'%}
  
    
{% block content %}    
     


    <div class="col-sm-12" style='text-align: center'>
        <h1> You can download the file now!</h1>
            <table class="table table-bordered">
                <div class="col-sm-12" style='text-align: center'> 
               <caption><h1><b><i style="color: black;">Download File</i></b></h1></caption>
                   <thead>
                      <tr class="active">
                        
                         <th style='text-align: center'><h3><b style="font-family: Arial;">33 gestational weeks</b></h3></th>
                         <th style='text-align: center'><h3><b style="font-family: Arial;">36 gestational weeks</b></h3></th>
                         <th style='text-align: center'><h3><b style="font-family: Arial;">39 gestational weeks</b></h3></th>
                        
                      </tr>
                   </thead>
                   
                   <tbody>
                       <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.b0" download="UTSW_33wg_SS.b0">UTSW_33wg_SS.b0</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.b0" download="UTSW_36wg_SS.b0">UTSW_36wg_SS.b0</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.b0" download="UTSW_39wg_SS.b0">UTSW_39wg_SS.b0</i></td>
                       </tr>
    
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.fa" download="UTSW_33wg_SS.fa">UTSW_33wg_SS.fa</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.fa" download="UTSW_36wg_SS.fa">UTSW_36wg_SS.fa</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.fa" download="UTSW_39wg_SS.fa">UTSW_39wg_SS.fa</i></td>
                       </tr>
            
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.tr" download="UTSW_33wg_SS.tr">UTSW_33wg_SS.tr</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.tr" download="UTSW_36wg_SS.tr">UTSW_36wg_SS.tr</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.tr" download="UTSW_39wg_SS.tr">UTSW_39wg_SS.tr</i></td>
                       </tr>
                      
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.vec" download="UTSW_33wg_SS.vec">UTSW_33wg_SS.vec</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.vec" download="UTSW_36wg_SS.vec">UTSW_36wg_SS.vec</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.vec" download="UTSW_39wg_SS.vec">UTSW_39wg_SS.vec</i></td>
                      </tr>
                      
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.d" download="UTSW_33wg_SS.d">UTSW_33wg_SS.d</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.d" download="UTSW_36wg_SS.d">UTSW_36wg_SS.d</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.d" download="UTSW_39wg_SS.d">UTSW_39wg_SS.d</i></td>
                      </tr>
                      
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.zip" download="UTSW_33wg_SS.zip">All Files</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.zip" download="UTSW_36wg_SS.zip">All Files</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.zip" download="UTSW_39wg_SS.zip">All Files</i></td>
                      </tr>
                      
                </tbody>
       
                  <!--<p><a href="../../media/Data_to_download/email_message.txt" download="email_message.txt">Download Email message</a></p>  -->
            </div>
            </table>
    </div>  
    <hr>
    <div class="col-sm-12" style='text-align: left'>
         <p>
            <ol>
                <li>.b0 are non-diffusion weighted b0 map</li>
                <li>.fa are Fractional Anisotropy map</li>
                <li>.tr are Fractional Anisotropy map</li>
                <li>.vec are Fractional Anisotropy map</li>
                <li>.d are Fractional Anisotropy map</li>
                <li>Selecting "All files" will download a zip file with all the files in it!</li>
            </ol>
        </p>
    </div>

{% endblock %}             


