{% extends 'base.html' %}


{% block content %}    
      
    <div style="margin-top: 0px;" class="col-sm-12 text-center">
          <h1 style="text-align: center;">Thank you for verifying your email address and interest in our research!</h1><br>
          <h2> We will send you an email once the database is populated.</h2>
          <p>Please click <a href="/index">here </a>to go to home page!</p>
          <p>Please click <a href="/reset_password">here </a>if you forgot your password! </p>
          
    </div>
        
    
   
{% endblock %}
