{% extends 'base.html'%}
  
    
{% block content %}    
     


    <div class="col-sm-12" style='text-align: center'>
        <h1> You can download your files of interest now!</h1>
        <table class="table"> 
               
           
                <tbody>
                     <tr>
                      <td>
                            <div class="row text-right">
                                <div class="col-sm-12">
                                    <div class="container">
                                        <div style="margin-right: 0px;" class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Jump To
                                          <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Perinatal brain dataset">Perinatal dataset</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Fetal brain dataset">Fetal dataset</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Software">Software</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Top of the page</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            
                            <div class="row text-center">
                                
                            </div>
                        </td>
                     </tr>
        
                 </tbody>
        </table>
        
            <table class="table table-bordered">
                <div class="col-sm-12" style='text-align: center'> 
               <caption><h1><a id="Perinatal brain dataset"><b><i style="color: black;">1. Download perinatal brain dataset</i></b></a></h1></caption>
                     
                     
                   <thead>
                      <tr class="active">
                        
                         <th style='text-align: center'><h3><b style="font-family: Arial;">33 gestational weeks</b></h3></th>
                         <th style='text-align: center'><h3><b style="font-family: Arial;">36 gestational weeks</b></h3></th>
                         <th style='text-align: center'><h3><b style="font-family: Arial;">39 gestational weeks</b></h3></th>
                        
                      </tr>
                   </thead>
                   
                   <tbody>
                       <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.b0" download="UTSW_33wg_SS.b0">UTSW_33wg_SS.b0</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.b0" download="UTSW_36wg_SS.b0">UTSW_36wg_SS.b0</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.b0" download="UTSW_39wg_SS.b0">UTSW_39wg_SS.b0</i></td>
                       </tr>
    
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.fa" download="UTSW_33wg_SS.fa">UTSW_33wg_SS.fa</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.fa" download="UTSW_36wg_SS.fa">UTSW_36wg_SS.fa</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.fa" download="UTSW_39wg_SS.fa">UTSW_39wg_SS.fa</i></td>
                       </tr>
            
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.tr" download="UTSW_33wg_SS.tr">UTSW_33wg_SS.tr</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.tr" download="UTSW_36wg_SS.tr">UTSW_36wg_SS.tr</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.tr" download="UTSW_39wg_SS.tr">UTSW_39wg_SS.tr</i></td>
                       </tr>
                      
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.vec" download="UTSW_33wg_SS.vec">UTSW_33wg_SS.vec</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.vec" download="UTSW_36wg_SS.vec">UTSW_36wg_SS.vec</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.vec" download="UTSW_39wg_SS.vec">UTSW_39wg_SS.vec</i></td>
                      </tr>
                      
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.d" download="UTSW_33wg_SS.d">UTSW_33wg_SS.d</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.d" download="UTSW_36wg_SS.d">UTSW_36wg_SS.d</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.d" download="UTSW_39wg_SS.d">UTSW_39wg_SS.d</i></td>
                      </tr>
                      
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.zip" download="UTSW_33wg_SS.zip">All Files</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.zip" download="UTSW_36wg_SS.zip">All Files</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.zip" download="UTSW_39wg_SS.zip">All Files</i></td>
                      </tr>
                      
                </tbody>
       
                  <!--<p><a href="../../media/Data_to_download/email_message.txt" download="email_message.txt">Download Email message</a></p>  -->
            </div>
            </table>
    </div>  
    
    <div class="col-sm-12" style='text-align: center'>
        <p>.b0 are non-diffusion weighted b0 maps &nbsp .fa are Fractional Anisotropy maps &nbsp
        .tr are Trace maps &nbsp  .vec are primary eigenvectors &nbsp
        .d are tensor files <br> Selecting "All files" will download a zip file with all the files in it!
        </p>
    </div>
    
    <table class="table"> 
               
           
                <tbody>
                     <tr>
                      <td>
                            <div class="row text-right">
                                <div class="col-sm-12">
                                    <div class="container">
                                        <div style="margin-right: 0px;" class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Jump To
                                          <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Perinatal brain dataset">Perinatal dataset</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Fetal brain dataset">Fetal dataset</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Software">Software</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Top of the page</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            
                            <div class="row text-center">
                                
                            </div>
                        </td>
                     </tr>
        
                 </tbody>
    </table>
    
    
    
    <div class="col-sm-12" style='text-align: center'>
    <table class="table table-bordered">
                <div class="col-sm-12" style='text-align: center'> 
               <caption><h1><a id="Fetal brain dataset"><b><i style="color: black;">2. Download fetal brain dataset</i></b></a></h1></caption>
                     
                     
                   <thead>
                      <tr class="active">
                        
                         <th style='text-align: center'><h3><b style="font-family: Arial;">xx gestational weeks</b></h3></th>
                         <th style='text-align: center'><h3><b style="font-family: Arial;">xx gestational weeks</b></h3></th>
                         <th style='text-align: center'><h3><b style="font-family: Arial;">xx gestational weeks</b></h3></th>
                        
                      </tr>
                   </thead>
                   
                   <tbody>
                       <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.b0" download="UTSW_33wg_SS.b0">UTSW_xxwg_SS.b0</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.b0" download="UTSW_36wg_SS.b0">UTSW_xxwg_SS.b0</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.b0" download="UTSW_39wg_SS.b0">UTSW_xxwg_SS.b0</i></td>
                       </tr>
    
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.fa" download="UTSW_33wg_SS.fa">UTSW_xxwg_SS.fa</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.fa" download="UTSW_36wg_SS.fa">UTSW_xxwg_SS.fa</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.fa" download="UTSW_39wg_SS.fa">UTSW_xxwg_SS.fa</i></td>
                       </tr>
            
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.tr" download="UTSW_33wg_SS.tr">UTSW_xxwg_SS.tr</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.tr" download="UTSW_36wg_SS.tr">UTSW_xxwg_SS.tr</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.tr" download="UTSW_39wg_SS.tr">UTSW_xxwg_SS.tr</i></td>
                       </tr>
                      
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.vec" download="UTSW_33wg_SS.vec">UTSW_xxwg_SS.vec</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.vec" download="UTSW_36wg_SS.vec">UTSW_xxwg_SS.vec</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.vec" download="UTSW_39wg_SS.vec">UTSW_xxwg_SS.vec</i></td>
                      </tr>
                      
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.d" download="UTSW_33wg_SS.d">UTSW_xxwg_SS.d</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.d" download="UTSW_36wg_SS.d">UTSW_xxwg_SS.d</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.d" download="UTSW_39wg_SS.d">UTSW_xxwg_SS.d</i></td>
                      </tr>
                      
                      <tr>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/33_gestational_week/UTSW_33wg_SS.zip" download="UTSW_33wg_SS.zip">All Files</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/36_gestational_week/UTSW_36wg_SS.zip" download="UTSW_36wg_SS.zip">All Files</i></td>
                          <td style='text-align: center'><i style="font-family: Arial;"><a style="color: black; font-size: medium;" href="../../media/Data_to_download/39_gestational_week/UTSW_39wg_SS.zip" download="UTSW_39wg_SS.zip">All Files</i></td>
                      </tr>
                      
                </tbody>
       
                  <!--<p><a href="../../media/Data_to_download/email_message.txt" download="email_message.txt">Download Email message</a></p>  -->
            </div>
    </table>
    </div>
    
    <div class="col-sm-12" style='text-align: center'>
        <p>.b0 are non-diffusion weighted b0 maps &nbsp .fa are Fractional Anisotropy maps &nbsp
        .tr are Trace maps &nbsp  .vec are primary eigenvectors &nbsp
        .d are tensor files <br> Selecting "All files" will download a zip file with all the files in it!
        </p>
    </div>
    
    <table class="table"> 
               
           
                <tbody>
                     <tr>
                      <td>
                            <div class="row text-right">
                                <div class="col-sm-12">
                                    <div class="container">
                                        <div style="margin-right: 0px;" class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Jump To
                                          <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Perinatal brain dataset">Perinatal dataset</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Fetal brain dataset">Fetal dataset</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Software">Software</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Top of the page</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            
                            <div class="row text-center">
                                
                            </div>
                        </td>
                     </tr>
        
                 </tbody>
    </table>
    
    
      
    <div class="col-sm-12" style='text-align: left'>
        <h1><a id="Software"><b><i style="color: black;">3. Download the softwares developed in our lab</i></b></a></h1>
    </div>
    
    <table class="table"> 
               
           
                <tbody>
                     <tr>
                      <td>
                            <div class="row text-right">
                                <div class="col-sm-12">
                                    <div class="container">
                                        <div style="margin-right: 0px;" class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Jump To
                                          <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Perinatal brain dataset">Perinatal dataset</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Fetal brain dataset">Fetal dataset</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Software">Software</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Top of the page</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            
                            <div class="row text-center">
                                
                            </div>
                        </td>
                     </tr>
        
                 </tbody>
    </table>

{% endblock %}             


