{% extends 'base.html' %}

{% block jumbotron %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div style="margin-bottom: -70px;" class="jumbotron">
      <div class="container">
        
        
        <table class="table"> 
               
           
                  <tbody>
                     <tr>
                      <td>
                            <div class="row text-justify">
                                <div class="col-sm-12">
                                    <p>Magnetic resonance imaging and analysis techniques, especially those related to diffusion imaging (including diffusion tensor imaging or DTI), have been widely used to delineate the details of the connectivity of developmental brains and biomarkers of the brains with neurological diseases or psychological disorders. </p>
                                    <p>Our lab is dedicated to developing and applying the cutting-edge MR neuroimaging techniques to: </p>
                                    <ol>
                                    <h4><li class="my_list_class">Quantitatively characterizing the developmental connectome</li></h4>
                                    <h4><li class="my_list_class">Establishing unbiased measures of brain microstructure</li></h4>
                                    <h4><li class="my_list_class">Identifying the imaging biomarkers of the pathological brains</li></h4>
                                    </ol>
                                </div>
                            </div>
                        </td>
                      
                        <td>
                            <div class="row text-right">
                                <img src="../../media/combined_index.bmp" class="img-square" height="300px">
                            </div>
                        </td>
        
                        
                
                     </tr>
        
                </tbody>
                </table>
        
      </div>
    </div>
 {% endblock %}   
    
{% block content %}    
            
            
            
       
       <div class="row" style='text-align: left'>
       
        <h1> <strong><u>Current research topics</u></strong></h1>
       
    </div>
       
        <div class="col-sm-3 text-center">
          <h2>Fetal brain development</h2>
          <div class="row text-center">
                    <img src="../../media/fetal_brain.bmp" class="img-square" height="200" width="200">
                        
            </div><br>
       
          <p><a class="btn btn-default" href="../research/#Research Project 1" role="button">View details</a></p>
        </div>
        
        <div class="col-sm-3 text-center">
          <h2>Macaque brain atlas</h2>
          <div class="row text-center">
                    <img src="../../media/macaque_brain_figure.bmp" class="img-square" height="200" width="200">
                        
            </div><br>
       
          <p><a class="btn btn-default" href="../research/#Research Project 3" role="button">View details</a></p>
          
        </div>
        
        <div class="col-sm-3 text-center">
          <h2>Tract-specific analysis</h2>
          <div class="row text-center">
                    <img src="../../media/tract-level-figure.bmp" class="img-square" height="200" width="200">
                        
            </div><br>
       
          <p><a class="btn btn-default" href="../research/#Research Project 5" role="button">View details</a></p>
        </div>
        
        <div class="col-sm-3 text-center">
          <h2>Age-specific brain template</h2>
       
          <div class="row text-center">
                    <img src="../../media/age_specific_template.png" class="img-square" height="160" width="300">
                        
            </div><br><br><br>
          
       
          <p><a class="btn btn-default" href="../research/#Research Project 7" role="button">View details</a></p>
        </div>
        
        
        
        <div class="col-lg-12 text-left">
          <br> <br> <br>
          <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Join now to stay updated about our research</a></p>
        </div>
       
        
{% endblock %}


        
        