<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <div class="col-sm-12">
            
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href='{%url "home" %}'><h3 style="color:white;"><b style="font-family: initial; font-style: normal;">The Children's Hospital <i>of</i> Philadelphia <i><sup>&reg;</sup></i></b></h3></a><br><br><br>-->
            <!--<a class="navbar-brand" rel="home" href="http://www.chop.edu/">
                <img style="max-width:100px; margin-top: 0px; margin-left: -40px;"
                 src="../../media/CHOP_logo.jpg">
            </a>-->
            
               <!-- <a class="navbar-brand" href='{%url "home" %}'><h1 style="color:black;"><b style="font-family: initial; font-style: normal;">Brain MRI Maps</b></h1></a><br><br><br>-->
                <!--img id="template" src="../../media/CHOP_logo.jpg" height="40" width="40">
                <p><h3 style="color:white;"><i>Laboratory of Neuroimaging and Brain Connectivity</i></h3></p>-->
            </div>
            <!--</div>-->
        </div>
            <div class="navbar-header header-placeholder">
            <a class="navbar-brand" href='{%url "home" %}'><h1 style="color:black;"><b style="font-family: initial; font-style: normal;">Brain MRI Maps</b></h1></a><br><br><br>
            </div>
        <div id="navbar" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <li><a style="color: white; font-size: medium;" href='{%url "home" %}'><b>Home</b></a></li>
                <li><a style="color: white; font-size: medium;" href='{%url "research" %}'><b>Research</b></a></li>
                <li><a style="color: white; font-size: medium;" href='{%url "publications" %}'><b>Publications</b></a></li>
                <li><a style="color: white; font-size: medium;" href='{%url "download" %}'><b>Downloads</b></a></li>
                <li><a style="color: white; font-size: medium;" href='{%url "contact_us" %}'><b>Contact Us</b></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>


