{% extends 'base.html' %}
    
{% block content %}    

<div class="col-sm-12" style='text-align: center'>
    <!--<h1> Publications </h1>-->
    <div style='text-align: left'>
        <div style='text-align: justify'>
        <ol>
            
            <table class="table"> 
               
           
                <tbody>
                     <tr>
                      <td>
                            <div class="row text-right">
                                <div class="col-sm-12">
                                    <div class="container">
                                        <div style="margin-right: 50px;" class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Jump To
                                          <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2014">2014</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2013">2013</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2012">2012</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2011">2011</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Before_2011">Before 2011</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Top of the page</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            
                            <div class="row text-center">
                                
                            </div>
                        </td>
                     </tr>
        
                 </tbody>
            </table>
            
            <h2> <a id="2014"> 2014 </a></h2>
            <li>Mishra V, Guo X, Delgado MR, <b> Huang, H.</b> "Towards tract-specific fractional anisotropy (TSFA) at crossing-fiber regions with clinical diffusion MRI." <b><i>Magnetic Resonance in Medicine</i></b> 2014; (doi: 10.1002/mrm.25548). </li>
            <li>Yu Q, Peng Y, Mishra V, Ouyang A, Li H, Zhang H, Chen M, Liu S, <b> Huang H.</b> "Microstructure, length and connection of limbic tracts in normal human brain development." <b><i>Frontiers in Aging Neuroscience</i></b> 2014; 6:228 (fngi.2014.00228).</li>
            <li>Ouyang A, Jeon T, Sunkin SM, Pletikos M, Sedmak G, Sestan N, Lein ES, <b> Huang H.</b> "Spatial Mapping of structural and connectional imaging data for the developing human brain with diffusion tensor imaging."<b><i> Methods </i></b>(doi: 10.1016/j.ymeth.2014.10.025).</li>
            <li>Xu F, Liu P, Pascual JM, Xiao G, <b>Huang H</b>, Lu H. "Acute effect of glucose on cerebral blood flow, blood oxygenation, and oxidative metabolism". <b><i>Human Brain Mapping</i></b> (in press).</li>
            <li>Liu P, <b>Huang H</b>, Rollins N, Jeon T, Chalak LF, Halovanic C, Lu H. "Quantitative assessment of global cerebral metabolic rate of oxygen (CMRO2) in neonates using MRI". <b><i>NMR in Biomedicine</i></b> 2014; 27: 332-340. </li>
            <li>Lein E, Miller J, Ding SL, Sunkin S, Smith K, Ng L, Szafer A, Ebbert A, Riley Z, Aiona K, Arnold J, Bennet C, Bertagnolli D, Brouner K, Butler S, Caldejon S, Carey A, Cuhaciyan C, Dalley R, Dee N, Dolbeare T, Facer B, Feng D, Fliss T, Gee G, Goldy J, Gourley L, Gregor B, Gu G, Howard R, Jochim J, Kuan C, Lau C, Lee C, Lee F, Lemon T, Lesnar P, McMurray B, Mastan N, Mosqueda N, Naluai-Cecchini T, Ngo NK, Nyhus J, Oldre A, Olson E, Parente J, Parker P, Parry S, Player A, Pletikos M, Reding M, Royall J, Roll K, Sandman D, Sarreal M, Shapouri S, Shapovalova N, Shen E, Sjoquist N, Slaughterbeck C, Smith M, Sodt A, Williams D, Zollei L, Fischl B, Gerstein M, Geschwind D, Glass I, Hawrylycz M, Hevner R, <b>Huang H</b>, Jones A, Knowles J, Levitt P, Phillips J, Sestan N, Wohnoutka P, Dang C, Bernard A, Hohmann J. "Transcriptional landscape of the prenatal human brain". <b><i>Nature</i></b> 2014; 508, 199-206. <b>Cover Article.</b></li>
            <li><b>Huang H</b>, Vasung L. "Gaining insight of fetal brain development with diffusion MRI and histology". <b><i>International Journal of Developmental Neuroscience</i></b> 2014; 32, 11-22. <b>Cover article</b>. </li>
            <li><b>Huang H</b>, Shu N, Mishra V, Jeon T, Chalak L, Zhang Z, Rollins N, Gong G, Cheng H, Peng Y, Dong Q, He Y. "Development of human structural brain networks through infancy and childhood". <b><i>Cerebral Cortex</i></b> (in press) Epub ahead of print.</li>
                <div class="row text-center">
                    <img src="../../media/IJDN_coverpage.jpg" class="img-square">
                        <div class="caption">
                            <div class="row text-center">
                                <p style="padding-left: 0px; padding-right: 0px;"><b>Huang H</b>, et al., <b><i>International Journal of Developmental Neuroscience</i></b> 2014 (cover article).</p>
                            </div>
                        </div>
                </div>
            
            <table class="table"> 
               
           
                <tbody>
                     <tr>
                      <td>
                            <div class="row text-right">
                                <div class="col-sm-12">
                                    <div class="container">
                                        <div style="margin-right: 50px;" class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Jump To
                                          <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2014">2014</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2013">2013</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2012">2012</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2011">2011</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Before_2011">Before 2011</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Top of the page</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            
                            <div class="row text-center">
                                
                            </div>
                        </td>
                     </tr>
        
                 </tbody>
            </table>
            
            <h2> <a id="2013"> 2013 </a></h2>
            <li>Mishra V, Cheng H, Gong G, He Y, Dong Q, <b>Huang H</b>. "Differences of inter-tract correlations between neonates and children around puberty: A study based on microstructural measurements with DTI". <b><i>Frontiers in Human Neuroscience</i></b> 2013; 7, 721.</li>
            <li>Medin PM, Foster RD, van der kogel AJ, Meyer J, Sayre JW, <b>Huang H</b>, Oz OK. "Unexpected paralysis in a swine model suggests a tolerance constraint for single-faction irradiation of the spinal nerve". <b><i>Radiotherapy & Oncology</i></b> 2013; 109, 107-111.</li>
            <li>Tseng BY, Gundapuneedi T, Khan MA, Diaz-Arrastia R, Levine BD, Lu H, <b>Huang H</b>, Zhang R. "White matter integrity in physically fit older adults". <b><i>Neuroimage</i></b> 2013; 82, 510-516.</li>
            <li><b>Huang H</b>, Jeon T, Sedmak G, Pletikos M, Vasung L, Xu X, Yarowsky P, Richards L, Kostovic I, Sestan N, Mori S. "Coupling diffusion imaging with histological and gene expression analysis to examine the dynamics of cortical areas across the fetal period of human brain development". <b><i>Cerebral Cortex</i></b> 2013; 23 (11), 2620-2631.</li>
   
            <table class="table"> 
               
           
                <tbody>
                     <tr>
                      <td>
                            <div class="row text-right">
                                <div class="col-sm-12">
                                    <div class="container">
                                        <div style="margin-right: 50px;" class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Jump To
                                          <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2014">2014</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2013">2013</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2012">2012</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2011">2011</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Before_2011">Before 2011</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Top of the page</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            
                            <div class="row text-center">
                                
                            </div>
                        </td>
                     </tr>
        
                 </tbody>
            </table>
            
            <h2> <a id="2012"> 2012 </a></h2>
            <li>Delgado-Ayala M, Smith L, Clegg N, <b>Huang H</b>. "White matter biomarker of hereditary spastic paraplegia". <b><i>Annals of Neurology</i></b> 2012; 72, s196-s197.</li>
            <li>Jeon T, Mishra V, Uh J, Weiner M, Hatanpaa KJ, White CL, Zhao YD, Lu H, Diaz-Arrastia R, <b>Huang H</b>. "Regional changes of cortical mean diffusivities with aging and Alzheimer disease after correction of partial volume effects". <b><i>Neuroimage</i></b> 2012; 62 (3), 1705-1716.</li>
            <li><b>Huang H</b>, Gundapuneedi T, Rao U. "White matter disruptions in adolescents exposed to childhood maltreatment and vulnerability to psychopathology". <b><i>Neuropsychopharmacology</i></b> 2012; 37(12), 2693-2701. (Featured with Nature Press Release).</li>
            <li>Saxena K, Tamm L, Walley A, Simmons A, Rollins N, Emslie G, Fan X, <b>Huang H</b>. "Corpus callosum and anterior commissure aberrations in aggressive bipolar youth". <b><i>Journal of Child and Adolescent Psychopharmacology</i></b> 2012; 22 (2), 112-119.</li>
            <li><b>Huang H</b>, Fan X, Weiner M, Martin-Cook K, Xiao G, Davis J, Devous M, Rosenberg R,. "Distinctive disruption patterns of white matter tracts in Alzheimer&rsquo;s disease with full diffusion tensor characterization". <b><i>Neurobiology of Aging</i></b> 2012; 33, 2029-2045. </li>

            <table class="table"> 
               
           
                <tbody>
                     <tr>
                      <td>
                            <div class="row text-right">
                                <div class="col-sm-12">
                                    <div class="container">
                                        <div style="margin-right: 50px;" class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Jump To
                                          <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2014">2014</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2013">2013</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2012">2012</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2011">2011</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Before_2011">Before 2011</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Top of the page</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            
                            <div class="row text-center">
                                
                            </div>
                        </td>
                     </tr>
        
                 </tbody>
            </table>
            
            <h2> <a id="2011"> 2011 </a></h2>
            <li><b>Huang H</b>, Fan X, Williamson DE, Rao U. "White matter changes in healthy adolescents at familial risk for unipolar depression: A diffusion tensor imaging study". <b><i>Neuropsychopharmacology</i></b> 2011; 36 (3), 684-691. <b>Cover article.</b></li>
            <li><b>Huang H</b>, Prince JL, Mishra V, Carass A, Landman B, Park DC, Tamminga C, King R, Miller MI, van Zijl PC, Mori S. "A framework on surface&#45;based connectivity quantification for the human brain". <b><i>Journal of Neuroscience Methods</i></b> 2011; 197, 324-332.</li>
            <li>Oishi K, <b>Huang H</b>, Yoshioka T, Ying S, Zee D, Zilles K, Amunts K, Woods R, Toga AW, Pike GB, Rosa-Neto P, Evans AC, van Zijl PC, Mazziotta JC, Mori S. "Superficially located white matter structures commonly seen in the human and the macaque brain with diffusion tensor imaging". <b><i>Brain Connectivity</i></b> 2011; 1, 37-47.</li>
            <li>Aslan S, <b>Huang H</b>, Uh J, Mishra V, Xiao G, van Osch M, Lu H. "White matter cerebral blood flow is inversely correlated with structural and functional connectivity in the human brain". <b><i>Neuroimage</i></b> 2011; 56, 1145-1153.</li>
            <div class="row text-center">
                    <img src="../../media/Neuropschopharmacology_coverpage.jpg" class="img-square">
                        <div class="caption">
                            <div class="row text-center">
                                <p style="padding-left: 0px; padding-right: 0px;"><b>Huang H</b>, et al., <b><i>Neuropsychopharmacology</i></b> 2011 (cover article).</p>
                            </div>
                        </div>
                </div>
            
            <table class="table"> 
               
           
                <tbody>
                     <tr>
                      <td>
                            <div class="row text-right">
                                <div class="col-sm-12">
                                    <div class="container">
                                        <div style="margin-right: 50px;" class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Jump To
                                          <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2014">2014</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2013">2013</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2012">2012</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2011">2011</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Before_2011">Before 2011</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Top of the page</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            
                            <div class="row text-center">
                                
                            </div>
                        </td>
                     </tr>
        
                 </tbody>
            </table>
            
            <h2> <a id="Before_2011"> Before 2011 </a></h2>
            <li>Vasung L, <b>Huang H</b>, Jovanov-Milosevic N, Pletikos M, Mori S, Kostovic I. "Development of axonal pathways in the human fetal fronto&#45;limbic brain: histochemical characterization and diffusion tensor imaging". <b><i>Journal of Anatomy</i></b> 2010; 217, 400-417.</li> 
            <li><b>Huang H</b>. "Structure of the fetal brain: what we are learning from DTI". <b><i>Neuroscientist</i></b> 2010; 16, 634-649.</li>
            <li><b>Huang H</b>. "Delineating neural structures of developmental brains with diffusion tensor imaging". <b><i>ScientificWorldJournal</i></b> 2010; 10, 135-144.</li>
            <li><b>Huang H</b>, Xue R, Zhang J, Ren T, Richards LJ, Yarowsky P, Miller MI, Mori S. "Anatomical characterization of human fetal brain development with diffusion tensor MRI". <b><i>Journal of Neuroscience</i></b> 2009; 29 (13), 4263-4273.</li>
            <li>Fatemi SH, Folsom TD, Reutiman TJ, <b>Huang H</b>, Oishi K, Mori S. "Prenatal viral infection of mice at E16 causes changes in gene expression in hippocampi of the offspring". <b><i>European Neuropsychopharmacology</i></b> 2009; 19, 648-653.</li>
            <li>Fatemi SH, Folsom TD, Reutiman TJ, Abu-Odeh D, Mori S, <b>Huang H</b>, Oishi K. "Abnormal expression of myelination genes and alterations in white matter fractional anisotropy following prenatal viral influenza infection at E16 in mice". <b><i>Schizophrenia Research</i></b> 2009; 112, 46-53. </li>
            <li>Hua K, Oishi K, Zhang J, Zhang W, Akhter K, Li X, <b>Huang H</b>, Jiang H, van Zijl PCM, Mori S. "Mapping of functional areas in the human cortex based on connectivity through association fibers." <b><i>Cerebral Cortex</i></b> 2009; 19: 1889-1895.</li>
            <li><b>Huang H</b>, Yamamoto A, Hossain MA, Younes L, Mori S. "Quantitative cortical mapping of fractional anisotropy of developing rat brains". <b><i>Journal of Neuroscience</i></b> 2008; 28: 1427-1433.</li>
            <li><b>Huang H</b>, Ceritoglu C, Li X, Qiu A, Miller MI, van Zijl PCM, Mori S. "Correction of B0 susceptibility induced distortion in diffusion&#45;weighted images using large&#45;deformation diffeomorphic metric mapping". <b><i>Magnetic Resonance Imaging</i></b> 2008; 26: 1294-1302. </li>
            <li>Fatemi SH, Reutiman TJ, Folsom TD, <b>Huang H</b>, Oishi K, Mori S, Smee DF, Pearce DA, Winter C, Sohr R, Juckel G. "Maternal infection leads to abnormal gene regulation and brain atrophy in mouse offspring: Implications for genesis of neurodevelopmental disorders". <b><i>Schizophrenia Research</i></b> 2008; 99: 56-70.</li>
            <li>Mori S, Oishi K, Jiang H, Jiang L, Li X, Akhter K, Hua K, Faria A, Mahmood A, Woods R, Toga A, Pike GB, Neto PR, Evans A, Zhang J, <b>Huang H</b>, Miller MI, van Zijl PCM, Mazziotta J. "Stereotaxic white matter atlas based on diffusion tensor imaging in an ICBM template". <b><i>NeuroImage</i></b> 2008; 40: 570-582.</li>
            <li>Baloch S, Verma R, <b>Huang H</b>, Khurd P, Clark S, Yarowsky P, Abel T, Mori S, Davatzikos C. "Quantification of brain maturation and growth patterns in C57BL&#47;6J mice via computational neuroanatomy of diffusion tensor images". <b><i>Cerebral Cortex</i></b> 2008; 19: 675-687.</li>
            <li>Landman B, <b>Huang H</b>, Farrell J, Prince JL, Mori S. "Diffusion tensor imaging at low SNR: Non&#45;monotonic behaviors of tensor contrasts." <b><i>Magnetic Resonance Imaging</i></b> 2008; 26: 790-800.</li>
            <li>Oishi K, Zilles K, Amunts K, Faria A, Jiang H, Li X, Akhter K, Hua K, Woods R, Toga AS, Pike GB, Rosa-Neto P, Evans A, Zhang J, <b>Huang H</b>, Miller MI, van Zijl PC, Mazziotta J, Mori S. "Human brain white matter atlas: Identification and assignment of common anatomical structures in superficial white matter." <b><i>NeuroImage</i></b> 2008; 43: 447-457.</li>
            <li>Pletnikov MV, Ayhan Y, Nikolskaia O, Xu Y, Ovanesov M, <b>Huang H</b>, Mori S, Moran TH, Ross CA. "Inducible expression of mutant human DISC1 in mice is associated with brain and behavior abnormalities reminiscent of schizophrenia". <b><i>Molecular Psychiatry</i></b> 2008; 13: 173-186. </li>
            <li>Pletnikov MV, Ayhan Y, Xu Y, Nikolskaia O, Ovanesov M, <b>Huang H</b>, Mori S, Moran TH, Ross CA. "Enlargement of the lateral ventricles in mutant DISC1 transgenic mice". <b><i>Molecular Psychiatry</i></b> 2008; 13: 115. </li>
            <li>Zhang J, Evans A, Hermoye L, Lee SK, Wakana S, Zhang W, Donohue P, Miller MI, <b>Huang H</b>, Wang X, van Zijl PCM, Mori S. "Evidence of slow maturation of the superior longitudinal fasciculus in early childhood by diffusion tensor imaging". <b><i>NeuroImage</i></b> 2007; 38: 239-247.</li>
            <li><b>Huang H</b>, Zhang J, Wakana S, Zhang W, Ren T, Richards LJ, Yarowsky P, Donohue P, Graham E, van Zijl PCM, Mori S. "White and gray matter development in human fetal, newborn and pediatric brains". <b><i>NeuroImage</i></b> 2006; 33: 27-38. <b>Cover article.</b></li>
            <li>Ren T, Anderson A, Shen W, <b>Huang H</b>, Plachez C, Mori S, Kinsman SL, Richards L. "Imaging, Anatomical and Molecular Analysis of Callosal Formation in the Developing Human Fetal Brain". <b><i>Anatomical Record</i></b> 2006; 288A: 191-204.</li>
            <li>Dubey P, Fatemi A, <b>Huang H</b>, Nagae-Poetscher L, Wakana S, van Zijl PCM, Moser HW, Mori S, Raymond GV. "Diffusion tensor&#45;based imaging reveals occult abnormalities in adrenomyeloneuropathy". <b><i>Annals of Neurology</i></b> 2005; 58: 758-766.</li>
            <li><b>Huang H</b>, Zhang J, Jiang H, Wakana S, Poetscher L, Miller MI, van Zijl PCM, Hillis AE, Wytik R, Mori S. "DTI Tractography based Parcellation of White Matter: Application to the Mid&#45;sagittal Morphology of Corpus Callosum". <b><i>NeuroImage</i></b> 2005; 26: 195-205. </li>
            <li><b>Huang H</b>, Zhang J, van Zijl PCM, Mori S. "Analysis of Noise Effects on DTI&#45;based Tractography Using the Brute&#45;Force and Multi&#45;ROI Approach". <b><i>Magnetic Resonance in Medicine</i></b> 2004; 52: 559-565. </li>
            <li>Zhang J, Richards LJ, Yarowsky P, <b>Huang H</b>, Mori S. "Three&#45;Dimensional Anatomical Characterization of the Developing Mouse Brain by Diffusion Tensor Microimaging". <b><i>NeuroImage</i></b> 2003; 20: 1639-1648.</li>
            <li><b>Huang H</b>, Wen GB. "A New Unsteady Three Dimensional Model for Macromolecular Transport and Water Filtration across the Arterial Wall". <b><i>Applied Mathematics and Mechanics</i></b> 2001; 22: 1155-1172. </li>
            <li>Wang X, <b>Huang H</b>, Wen GB. "The Calculation of Transport for Curved Tubes with Permeable Arterial Wall". <b><i>Acta Scientiarum Naturalium Universitatis Pekinensis</i></b> 2001; 37: 658-668.</li>
            <li><b>Huang H</b>, Zhang L, Liu H. "Window95&#45;based System for Analysis of the Synaptic Numeral Density". <b><i>Chinese Journal of Stereology and Image Analysis</i></b> 1999; 4: 80-85.</li>
            <li>Zhang L, Mai H, Nan Y, <b>Huang H</b>. "Counting of the Numerical Density of Synapses of Using the Dissector Technique". <b><i>Chinese Journal of Neuroanatomy</i></b> 1998; 14: 411-414.</li>
            <div class="row text-center">
                    <img src="../../media/Neuroimage_coverpage.jpg" class="img-square">
                        <div class="caption">
                            <div class="row text-center">
                                <p style="padding-left: 0px; padding-right: 0px;"><b>Huang H</b>, et al., <b><i>Neuroimage</i></b> 2006 (cover article).</p>
                            </div>
                        </div>
            </div>
            
            <table class="table"> 
               
           
                <tbody>
                     <tr>
                      <td>
                            <div class="row text-right">
                                <div class="col-sm-12">
                                    <div class="container">
                                        <div style="margin-right: 50px;" class="dropdown">
                                          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Jump To
                                          <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2014">2014</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2013">2013</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2012">2012</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#2011">2011</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#Before_2011">Before 2011</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Top of the page</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            
                            <div class="row text-center">
                                
                            </div>
                        </td>
                     </tr>
        
                 </tbody>
            </table>
        </ol>
        </div>
    </div>
</div>

{% endblock %}             
        