{% extends 'base.html' %}


{% block content %}    
      
    <div style="margin-top: 6px;" class="col-sm-12 text-center">
          <h1 style="text-align: center;">Join Now</h1><br>
          <form  method='POST' action=''> {% csrf_token %}

            {{form.as_p}}
            <!--<div style="margin-top: 0px;" class="col-sm-6 text-right">-->
              <input type= "submit" value = "Register">
              <p>Please <a href="/login">login here </a>if you have already registered!</p>
              <p>Please <a href="/reset_password">reset password </a>if you forgot your password! </p>
              <p>Please click <a href="/index">here </a>to go back to homepage!</p>
            <!--</div>-->
          </form> 
    </div>
        
    
   
{% endblock %}
