/*.success{
    background:grey;
    text-align:center;
}*/


.jumbotron{
    background-color: #FFFFFF

}

.navbar-inverse {
    background-color: #41AFC3;
    border-color: #080808;
}
.navbar-fixed-top {
    top: 0px;
    border-width: 0px 0px 1px;
}

.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 15px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
}

.navbar-brand {
    float: left;
    height: 40px;
    padding: 8px;
    font-size: 18px;
    line-height: 20px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 0px;
}

/*
.navbar-inverse{
    background-color: #41AFC3
}

.container{
    color:#1822E6
}


.mynavbar li{
    display: inline;
    text-align: left;
    padding-left: 500px;
    padding-right: 500px;
}
*/

/*
.navbar-inverse
.navbar-nav>li>
a{
    color:#000000
}


.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
    padding-right: 0px;
    padding-left: 800px;
    
}

*/